/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,500;1,300;1,500&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

// Colors
$presentation-heading-color: #1c68bd;
// $titlecol2: #fff15a;
$link-color: #5136ac;
$link-color-hover: lighten($link-color, 30%);


// Font
$font-family-sans-serif: Lato, sans-serif !default;
$presentation-heading-letter-spacing: normal !default;

// Heading
$presentation-heading-font: Lato, sans-serif !default;
$presentation-heading-font-weight: 300 !default;

// Slides
$presentation-font-size-root: 35px !default;
$presentation-font-weight: 300 !default;

// Code Blocks
$code-block-border-color: transparent !default;

/*-- scss:mixins --*/

// Background generator
//@mixin codeBlockBackground() {
//  @include radial-gradient(#add9e4, #f7fbfc);
//}


/*-- scss:rules --*/

.reveal p {
   font-weight: $presentation-font-weight;
 }

.reveal ul {
    font-weight: $presentation-font-weight;
  }
  
.reveal ol {
    font-weight: $presentation-font-weight;
  }

code {
  font-size: 85% !important;
  font-family: monospace !important;
  background-color: rgb(233, 233, 233) !important;
  color: black !important;
}

pre code {
  font-size: 100% !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 10px !important;
  border-style: dashed !important;
  border-color: grey !important;
  border-width: 1px !important;
}
.sourceCode {
  //font-size: 90% !important;
  background-image: linear-gradient(to right, white, yellow);
  border-radius: 10px !important;
  border-width: 0px !important;
}

a {
  text-decoration: underline !important;
}

.big {
  font-size: 140%;
}

.smallish {
  font-size: 90%;
}

.small {
  font-size: 60%;
}

.exercise {
  background-color: yellow !important;
}

#title-slide {
  text-align: left;
}
